<article>
    <section>
        <p>Simon Robinson, Le Pont, 61100 CALIGNY, NORMANDIE, FRANCE.</p>
        <p>TEL: +53(0)233961716</p>
        <p>EMAIL: info@forgerobinson.com</p>
    </section>
    <section>
        <img src="img/aboutPhoto.jpeg" width="100%"></img>
    </section>
</article>

<aside>
    <header>
        <h1>CONTACT</h1>
    </header>
    <div class="contact-container">
        <form action="/action_page.php">
            <table>
                <tr>
                    <td>
                        <input type="text" id="fname" name="firstname" placeholder="NAME">
                    </td>
                    <td>
                        <input type="text" id="lname" name="lastname" placeholder="SURNAME">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="company" name="company" placeholder="COMPANY NAME">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" id="subject" name="subject" placeholder="ENQUIRY SUBJECT">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="message" name="message" placeholder="MESSAGE" style="height:200px"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="button" value="SEND"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</aside>