<div>
    <div class="main wrapper clearfix">
        <article>
            <header>
                <h1>GALLERY</h1>
            </header>
            <section>
                <div class="main wrapper clearfix">
                    <div class="gallery">
                        <a target="_blank" href="">
                            <img src="img/image1.jpeg" alt="Cinque Terre" width="1200" height="800">
                        </a>
                        <div class="desc">Test - click will open sub gallery</div>
                    </div>

                    <div class="gallery">
                        <a target="_blank" href="">
                            <img src="img/image2.jpeg" alt="Cinque Terre" width="1200" height="800">
                        </a>
                        <div class="desc">Test - click will open sub gallery</div>
                    </div>

                    <div class="gallery">
                        <a target="_blank" href="">
                            <img src="img/image3.jpeg" alt="Cinque Terre" width="1200" height="800">
                        </a>
                        <div class="desc">Test - click will open sub gallery</div>
                    </div>

                    <div class="gallery">
                        <a target="_blank" href="">
                            <img src="img/image8.jpeg" alt="Cinque Terre" width="1200" height="800">
                        </a>
                        <div class="desc">Test - click will open sub gallery</div>
                    </div>

                    <div class="gallery">
                        <a target="_blank" href="">
                            <img src="img/image4.jpeg" alt="Cinque Terre" width="1200" height="800">
                        </a>
                        <div class="desc">Test - click will open sub gallery</div>
                    </div>
                </div>
            </section>
        </article>
    </div>
</div>