<div>
    <aside>
        <header>
            <h1>WORKS</h1>
        </header>
    </aside>
    <div class="main wrapper clearfix">
        <div id="gallery">

            <div class="gallery-item">
                <a href="/partials/galleries/entrances/entrances.php" class="dynamicLoad image-container">
                    <img src="/img/ENTRANCES.jpg">
                    <div class="en-desc">ENTRANCES</div>
                    <div class="fr-desc">ENTREES</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/STAIRWAYS.jpg">
                    <div class="en-desc">STAIRWAYS</div>
                    <div class="fr-desc">ESCALIERS</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/GRILLES.jpg">
                    <div class="en-desc">GRILLES</div>
                    <div class="fr-desc">GRILLES</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/LIGHTING.jpg">
                    <div class="en-desc">LIGHTING</div>
                    <div class="fr-desc">ECLAIRAGE</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/SCULPTURE.jpg">
                    <div class="en-desc">SCULPTURE</div>
                    <div class="fr-desc">SCULPTURE</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/GARDEN.jpg">
                    <div class="en-desc">GARDEN</div>
                    <div class="fr-desc">JARDIN</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/FURNITURE.jpg">
                    <div class="en-desc">FURNITURE</div>
                    <div class="fr-desc">MEUBLES</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/CHURCHES.jpg">
                    <div class="en-desc">CHURCHES</div>
                    <div class="fr-desc">EGLISES</div>
                </a>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="" class="dynamicLoad image-container">
                    <img src="/img/VARIOUS.jpg">
                    <div class="en-desc">VARIOUS</div>
                    <div class="fr-desc">DIVERSES</div>
                </a>
            </div>

        </div>
    </div>
</div>
<script>
    $('a.dynamicLoad').click(function (e) {
        e.preventDefault(); // prevent the browser from following the link
        e.stopPropagation(); // prevent the browser from following the link

        $('#pageContent').load($(this).attr('href')).hide().fadeIn();;
        $('#logo').fadeIn();
        console.log('page loaded');
    });
</script>