<div>
    <style>
        .gallery-item {
            padding-left: 12px;
            padding-bottom: 40px;
        }
    </style>
    <header>
        <h1>WORKS</h1>
    </header>
    <div class="main wrapper clearfix">
        <div class="gallery">

            <div class="gallery-item">
                <a href="/partials/galleries/entrances/entrances.php" class="dynamicLoad">
                    <img src="/img/ENTRANCES.jpg">
                </a>
                <div class="desc">ENTRANCES / ENTREES</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/STAIRWAYS.jpg">
                </a>
                <div class="desc">STAIRWAYS / ESCALIERS</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/GRILLES.jpg">
                </a>
                <div class="desc">GRILLES / GRILLES</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/LIGHTING.jpg">
                </a>
                <div class="desc">LIGHTING / ECLAIRAGE</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/SCULPTURE.jpg">
                </a>
                <div class="desc">SCULPTURE / SCULPTURE</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/GARDEN.jpg">
                </a>
                <div class="desc">GARDEN / JARDIN</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/FURNITURE.jpg">
                </a>
                <div class="desc">FURNITURE / MEUBLES</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/CHURCHES.jpg">
                </a>
                <div class="desc">CHURCHES / EGLISES</div>
            </div>

            <div class="gallery-item">
                <a target="_blank" href="">
                    <img src="/img/VARIOUS.jpg">
                </a>
                <div class="desc">VARIOUS / DIVERSES</div>
            </div>

        </div>
    </div>
</div>
<script>
    $('a.dynamicLoad').click(function (e) {
        e.preventDefault(); // prevent the browser from following the link
        e.stopPropagation(); // prevent the browser from following the link

        $('#pageContent').load($(this).attr('href')).hide().fadeIn();;
        $('#logo').fadeIn();
        console.log('page loaded');
    });
</script>